@font-face {
  font-family: "MachineC";
  src: url("fonts/MachineC.woff2") format("woff2"), url("fonts/MachineC.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Streamster";
  src: url("fonts/Streamster.woff2") format("woff2"), url("fonts/Streamster.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "UA_Maximal_Beasts";
  src: url("fonts/UA_Maximal_Beasts.woff2") format("woff2"), url("fonts/UA_Maximal_Beasts.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "SF TransRobotics";
  src: url("fonts/SFTransRobotics.woff2") format("woff2"), url("fonts/SFTransRobotics.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "UA_Blade_Runner";
  src: url("fonts/UA_Blade_Runner-BoldItalic.woff2") format("woff2"), url("fonts/UA_Blade_Runner-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: "Pricedown Rus";
  src: url("fonts/PricedownRus.woff2") format("woff2"), url("fonts/PricedownRus.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
* {
  padding: 0;
  margin: 0; }

body {
  font-size: 14px; }

@keyframes blur {
  from {
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff, 0px 0px 50px #7B96B8, 0px 0px 150px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px -10px 100px #7B96B8, 0px -10px 100px #7B96B8; } }
.header-container {
  background: url(xs/img/header-bg.gif) no-repeat;
  background-size: cover;
  background-position: top center;
  height: 500px;
  box-shadow: inset 0 -12px 10px #000; }
  @media (min-width: 576px) {
    .header-container {
      background-image: url(sm/img/header-bg.jpg); } }
  @media (min-width: 768px) {
    .header-container {
      height: 550px; } }
  @media (min-width: 992px) {
    .header-container {
      background-size: auto; } }
  .header-container__logo {
    height: 230px;
    background: url(xs/img/logo.png) no-repeat;
    background-size: contain;
    background-position: top center; }
  .header-container__nav-block {
    height: 200px; }
  .header-container__nav-button {
    text-align: center;
    font-size: 35px;
    font-family: "MachineC"; }
    @media (min-width: 576px) {
      .header-container__nav-button {
        font-size: 45px; } }
    @media (min-width: 1200px) {
      .header-container__nav-button {
        font-size: 60px; } }
    .header-container__nav-button a {
      background: linear-gradient(180deg, #000 10%, #252525 30%, #0D61BC 40%, #fff 50%, #000 51%, #151515 56%, #a83cad 65%, #f9bbfc 80%, #f9bbfc);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: #4087d8;
      text-decoration: none;
      position: relative; }
      @media (min-width: 576px) {
        .header-container__nav-button a {
          -webkit-text-stroke-width: 0.8px; } }
      .header-container__nav-button a:hover {
        animation: blur 0.4s ease-out; }
      .header-container__nav-button a:before {
        font-size: 30px;
        font-family: "Streamster";
        position: absolute;
        transform: rotate(-20deg);
        -webkit-text-stroke-color: transparent;
        -webkit-text-fill-color: #EBB7F5;
        text-shadow: 2px 2px 1px #000; }
        @media (min-width: 576px) {
          .header-container__nav-button a:before {
            font-size: 35px; } }

.nav-menu a:before {
  content: "menu";
  top: -20px;
  left: -20px; }

.nav-promotions a:before {
  content: "promotions";
  top: -20px;
  left: -45px; }

.nav-gallery a:before {
  content: "gallery";
  top: -22px;
  left: -25px; }

.nav-events a:before {
  content: "events";
  top: -20px;
  left: -20px; }

.nav-radio a:before {
  content: "radio";
  top: -20px;
  left: -20px; }

.main-container {
  height: 700px; }
  .main-container__ad-block {
    height: 700px;
    box-shadow: inset 0 12px 10px #000, inset 0 -125px 10px #000;
    background-image: url(xs/img/main-bg.jpg);
    background-size: cover;
    background-position: center; }
    @media (min-width: 768px) {
      .main-container__ad-block {
        height: 820px; } }
    @media (min-width: 992px) {
      .main-container__ad-block {
        background-image: url(lg/img/main-bg.jpg);
        background-size: auto;
        background-position: top center; } }
  .main-container__ad-1 p {
    font-size: 32px;
    font-family: "SF TransRobotics";
    padding: 20px 10px 0 150px;
    color: #ddd;
    text-shadow: 2px 2px 1px #222;
    text-align: center;
    overflow: hidden;
    height: 150px; }
  .main-container__ad-2 {
    height: 280px;
    margin: 70px 0 0 0;
    padding: 0; }
    .main-container__ad-2 img {
      border: 2px solid black;
      height: 35vw; }
      @media (min-width: 576px) {
        .main-container__ad-2 img {
          height: 220px; } }
    .main-container__ad-2 p {
      font-size: 20px;
      font-family: "ua_maximal_beasts";
      padding: 0; }
      @media (min-width: 576px) {
        .main-container__ad-2 p {
          font-size: 27px; } }

.footer-container {
  height: 500px;
  box-shadow: inset 0 12px 10px #000;
  background-image: url(xs/img/11.gif);
  background-size: cover;
  background-position: center; }
  @media (min-width: 768px) {
    .footer-container {
      background-image: url(md/img/footer-bg.jpg);
      height: 580px; } }
  @media (min-width: 992px) {
    .footer-container {
      background-size: auto; } }
  .footer-container__cafe-name {
    font-family: "Streamster";
    font-size: 78px;
    color: #EBB7F5;
    transform: rotate(-11deg) translateY(-120px) translateX(20px);
    text-shadow: 2px 2px 0 #333333; }
    @media (min-width: 576px) {
      .footer-container__cafe-name {
        font-size: 85px; } }
    @media (min-width: 665px) {
      .footer-container__cafe-name {
        font-size: 93px; } }
    @media (min-width: 720px) {
      .footer-container__cafe-name {
        font-size: 100px; } }
    @media (min-width: 768px) {
      .footer-container__cafe-name {
        transform: rotate(-11deg) translateY(30px) translateX(20px); } }
    @media (min-width: 992px) {
      .footer-container__cafe-name {
        font-size: 120px; } }
  .footer-container__phone-number {
    font-family: "UA_blade_runner";
    font-size: 28px;
    transform: rotate(-11deg) translateY(-160px);
    background: linear-gradient(180deg, #000 10%, #252525 30%, #0D61BC 40%, #fff 50%, #000 51%, #151515 56%, #a83cad 65%, #f9bbfc 80%, #f9bbfc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #4087d8; }
    @media (min-width: 576px) {
      .footer-container__phone-number {
        -webkit-text-stroke-width: 0.8px; } }
    @media (min-width: 576px) {
      .footer-container__phone-number {
        font-size: 35px; } }
    @media (min-width: 768px) {
      .footer-container__phone-number {
        transform: rotate(0deg) translateY(80px) translateX(0px); } }
    @media (min-width: 992px) {
      .footer-container__phone-number {
        font-size: 50px;
        transform: translateY(50px) translateX(0px); } }

/*# sourceMappingURL=main.css.map */
