@font-face {
  font-family: "MachineC";
  src: url("fonts/MachineC.woff2") format("woff2"), url("fonts/MachineC.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Streamster";
  src: url("fonts/Streamster.woff2") format("woff2"), url("fonts/Streamster.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "UA_Maximal_Beasts";
  src: url("fonts/UA_Maximal_Beasts.woff2") format("woff2"), url("fonts/UA_Maximal_Beasts.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "SF TransRobotics";
  src: url("fonts/SFTransRobotics.woff2") format("woff2"), url("fonts/SFTransRobotics.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "UA_Blade_Runner";
  src: url("fonts/UA_Blade_Runner-BoldItalic.woff2") format("woff2"), url("fonts/UA_Blade_Runner-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: "Pricedown Rus";
  src: url("fonts/PricedownRus.woff2") format("woff2"), url("fonts/PricedownRus.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.header-container_menu {
  height: 300px;
  background: url(xs/img/menu-bg.png) no-repeat;
  background-position: center;
  background-size: cover; }
  .header-container_menu h1 {
    font-family: "Pricedown Rus";
    font-size: 80px;
    color: #BABCBD;
    text-shadow: 2px 2px 0px black; }
  .header-container_menu__nav-row {
    font-family: "Pricedown Rus";
    font-size: 40px; }
  .header-container_menu__nav-col:nth-child(2) a {
    color: #52AEEE; }
  .header-container_menu__nav-col:nth-child(3) a {
    color: #EBB7F5; }
  .header-container_menu__nav-col:nth-child(4) a {
    color: #EBB7F5; }
  .header-container_menu__nav-col a {
    text-decoration: none;
    color: #0DBE8B;
    text-shadow: 2px 2px 0px black; }

.main-container_menu {
  height: 2800px;
  background: black; }
  .main-container_menu__hookahs-title p {
    font-family: "Pricedown Rus";
    font-size: 70px;
    text-align: center;
    color: #0DBE8B; }
  .main-container_menu__hookahs-col {
    height: 200px;
    width: 200px;
    background: url(xs/img/menu/item-border.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px; }
    .main-container_menu__hookahs-col img {
      width: 130px;
      padding-top: 25px; }
  .main-container_menu__drinks-title p {
    font-family: "Pricedown Rus";
    font-size: 70px;
    text-align: center;
    color: #52AEEE; }
  .main-container_menu__drinks-col {
    height: 200px;
    width: 200px;
    background: url(xs/img/menu/item-border.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px; }
    .main-container_menu__drinks-col img {
      width: 100px;
      margin-bottom: 10px; }
  .main-container_menu__snacks-title p {
    font-family: "Pricedown Rus";
    font-size: 70px;
    text-align: center;
    color: #EBB7F5; }
  .main-container_menu__snacks-col {
    height: 200px;
    width: 200px;
    background: url(xs/img/menu/item-border.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px; }
    .main-container_menu__snacks-col img {
      width: 150px; }

/*# sourceMappingURL=menu.css.map */
